body {
	background-color: lightblue;
}

.playButton {
	padding: 10;
	color: blue;
	background: yellow;
}

main {
	display: flex;
	flex-direction: column;
}

.emptyBox {
	width: 15px;
	height: 15px;
	border: 1px solid lightgrey;
	background: white;
}

.paintedBox {
	width: 15px;
	height: 15px;
	border: 1px solid lightgrey;
	background: black;
}

.rowElement {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}